:root{
    --backgroundDarkColor: #141010;
    --primaryLightColor: #F70776;
    --primaryDarkColor: #650E36;
    --textLightColor: #ffffff;
}

@keyframes starsBackground{

    0%{
        opacity: 0;
    }

    15%{
        opacity: 0.2;
    }

       100%{
        left: -150%;
        width: 250%;
        opacity: 0;
    }
}

@keyframes textPointer{

    100%{
        border-color: transparent;
    }
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style-type: none;
    background-color: var(--backgroundDarkColor);
    color: #fff;
}

.hidden{
    display: none;
}
.background{
    background-image: url(../images/background.png);
    background-repeat: repeat;
    animation: starsBackground 30s linear infinite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.container{
    max-width: 60vw;
    margin-left: 25vw;
}

.menu{
    max-width: 15vw;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-right: 3px solid var(--primaryDarkColor);
    position: fixed;
}

.menu__logo{
    max-width: 242px;
    padding: 40% 10% 10% 10%;
    min-height: 100px;
    margin: 0 auto;
}

.menu__image{
    width: 100%;
}


.menu__nav{
    text-align: right;
}

.menu__list{
    margin-top: 5vh;
    list-style-type: none;
}

.menu__item{
    margin-bottom: 10vh;
    padding-right: 1vw;
    line-height: 25px;
    font-weight: 300;
    cursor: pointer;
}

.menu__border{
    border-right: 8px solid transparent;
    position: relative;
    right: -11px;
}

.menu__border:hover{
    border-color: var(--primaryLightColor);
    color: var(--primaryLightColor);
}

.Moon{
    position: fixed;
    right: -100px;
    top: -70px;
    transform: rotate(140deg);
    width: 340px;
}

.Moon__image{
    width: 100%;
    opacity: 0.6;
}

.Home{
    padding-top: 22vh;
}

.Home__title{
    color: var(--primaryLightColor);
    font-weight: 900;
    font-size: 10rem;
    margin: 0 0 1vh 0; 
}

.Home__title--subtitle{
    color: var(--textLightColor);
    font-size: 1.75rem;
    font-weight: 300;
}

.Home__title--autowrite{
    border-right: 3px solid var(--primaryLightColor);
    padding: 0;
    display: inline-block;  
    margin: 10vh 0;
    height: 36px;
    animation-delay: 6s;
    animation: textPointer 1s ease-in-out infinite 6s;
}

.Home__textbox--autowrite{
    display: block;
}

.Home__title--small{
    font-size: 1.25rem;
}

.Home__textbox{
    display: flex;
    justify-content: space-between;
    max-width: 45vw;
}

.Home__text{
    font-weight: 300;
    opacity: 0.7;
    max-width: 210px;
}

.Home__button{
    display: block;
    width: 300px;
    height: 84px;
    border-radius: 8px;
    background-color: var(--primaryLightColor);
    outline: none;
    border: none;
    color: var(--textLightColor);
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 10vh;
    cursor: pointer;
}

.Section{
    margin-top: 25vh;
}

.Section__title{
    color: var(--primaryLightColor);
    font-size: 2.5rem;
}

.Section__title--subtitle{
    font-size: 1.5rem;
}

.Section__text{
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.Draw{
    max-width: 650px;
    margin: 7vh auto;
}

.Draw__image{
    width: 100%;
}